BASE_PATH=/
APP_PORT=8080
VITE_ENABLE_CROWDSTRIKE_LIVE=false
VITE_AUTH_ENABLED=true
VITE_AUTH_PASSWORD_HASH=b659cbe373e4922849b116d4e3b16db70302f1fec8a9d5ef8c349c1ca686fbda
VITE_AUTH_SALT=vuln-command-3b3822234d5ea8f0
VITE_AUTH_SESSION_MINUTES=30
VITE_AUTH_MAX_ATTEMPTS=5
VITE_AUTH_LOCKOUT_MINUTES=10
